<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="log.pattern">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}%n%msg%n%n</Property>
		<Property name="file.all.filename">/var/log/weixin/all.log</Property>
		<Property name="file.all.pattern">/var/log/weixin/all.%i.log.gz</Property>
		<Property name="file.sql.filename">/var/log/weixin/sql.log</Property>
		<Property name="file.sql.pattern">/var/log/weixin/sql.%i.log.gz</Property>
		<Property name="file.err.filename">/var/log/weixin/err.log</Property>
		<Property name="file.err.pattern">/var/log/weixin/err.%i.log.gz</Property>
	</Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${log.pattern}" />
		</Console>
		<RollingFile name="all" bufferedIO="true" fileName="${file.all.filename}"
			filePattern="${file.all.pattern}">
			<PatternLayout pattern="${log.pattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<RollingFile name="sql" bufferedIO="true" fileName="${file.sql.filename}"
			filePattern="${file.sql.pattern}">
			<PatternLayout pattern="${log.pattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<RollingFile name="error" bufferedIO="true"
			fileName="${file.err.filename}" filePattern="${file.err.pattern}">
			<PatternLayout pattern="${log.pattern}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.itranswarp" level="debug">
			<AppenderRef ref="all" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="console" level="info" />
			<AppenderRef ref="all" level="info" />
			<AppenderRef ref="err" level="error" />
		</Root>
	</Loggers>
</Configuration>
